{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customers</h5>
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <h5>Filter Search</h5>
                        <form method="get">
                            {{myFilter.form}}
            
                        <button class="btn btn-primary" type="submit">Search</button>
                      </form>
            
                    </div>
                </div>
              </div>
            <div class="card card-body"></div>
            <table class="table table-bordered">
				<tr>
					<th></th>
					<th>Form Name</th>
					<th>Created On</th>
					<th>To be completed on</th>
					<th>Status</th>
				</tr>

				{% for safetyform in formview %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'safetyform' safetyform.id %}">View</a></td>
						<td>{{safetyform.name}}</td>
						<td>{{safetyform.date_created}}</td>
						<td>{{safetyform.date_completion}}</td>
						<td>{{safetyform.status}}</td>
					</tr>
				{% endfor %}
                </tbody>
              </table>

			  {% if formview.has_other_pages %}
			  <ul class="pagination">
				  {% if formview.has_previous %}
				  <li><a href="?page={{ formview.previous_page_number }}">&laquo;</a></li>
				  {% else %}
				  <li class="disabled"><span>&laquo;</span></li>
				  {% endif %}
				  {% for i in formview.paginator.page_range %}
				  {% if formview.number == i %}
					  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				  {% else %}
					  <li><a href="?page={{ i }}">{{ i }}</a></li>
				  {% endif %}
				  {% endfor %}
				  {% if formview.has_next %}
				  <li><a href="?page={{ formview.next_page_number }}">&raquo;</a></li>
				  {% else %}
				  <li class="disabled"><span>&raquo;</span></li>
				  {% endif %}
              </ul>
            {% endif %}
                <span>
                  <table3>
                    <a class="btn btn-primary  btn-sm btn-sm" href="{% url 'form_create' %}">Create Form</a>
                    <p>
                    <div>
                    <a class="btn btn-primary  btn-sm btn-sm" href="{% url 'export' %}">Download CSV</a>
                    </div> 
                    </p>
                    <div>
                    <input type=button value="Print Page" onClick="javascript:window.print()">
                    </div>
                </table3>
              </span>
            </div>
        </div>
    </div>

</div>   

{% endblock content %}